{% extends "layout.html" %}
    {% block body %}

        <body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


            <section class="user-login section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="block">
                                <!-- Image -->
                                <div class="image align-self-center"><img class="img-fluid" src="/static/images/Login/front-desk-sign-in.jpg"
                                        alt="desk-image"></div>
                                <!-- Content -->
                                <div class="content text-center">
                                    <div class="logo">
                                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                                    </div>
                                    <div class="title-text">
                                        <h3>Sign in to To Your Account</h3>
                                    </div>
                                    <form  action="{% url 'login' %}" method="post">
                                        {% csrf_token %}
                                        <!-- Username -->
                                        <input autofocus class="form-control main" type="text" name="username" placeholder="Username" required>
                                        <!-- Password -->
                                        <input class="form-control main" type="password" name="password" placeholder="Password" required>
                                        <!-- Submit Button -->
                                        <button class="btn btn-main-sm">sign in</button>
                                    </form>
                                    <div class="new-acount">
                                        <a href="contact.html">Forget your password?</a>
                                        <p>Don't Have an account? <a href="{% url 'register' %}"> SIGN UP</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!-- To Top -->
            <div class="scroll-top-to">
                <i class="ti-angle-up"></i>
            </div>
            {% include "footer.html" %}
    {% endblock %}